* {
     box-sizing: border-box;
}

body {
     padding: 20px;
}

.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}

.header-links>*,
.host-header-links>*,
.hostvandetailheader-links>* {
     margin-right: 40px;
     text-decoration: none;
     font-size: 18px;
     color: blue;
}

.host-header-links,
.hostvandetailheader-links {
     margin-bottom: 20px;
}

.layout {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     text-align: justify;
}

.footer {
     text-align: center;
     background-color: gray;
     color: white;
     padding: 1px 0;
     margin-top: auto;
}

.active {
     color: red;
     text-decoration: underline;
}